## Importing Necessary Libraries

In [ ]:
!pip install mtranslate
!pip install xlsxwriter

Collecting mtranslate
  Downloading mtranslate-1.8.tar.gz (2.4 kB)
Building wheels for collected packages: mtranslate
  Building wheel for mtranslate (setup.py) ... done
  Created wheel for mtranslate: filename=mtranslate-1.8-py3-none-any.whl size=3694 sha256=1ccb06df9b2974cc5313c982aef375630742c72a856fc78f7830fe624bade1fb
  Stored in directory: /root/.cache/pip/wheels/a4/5d/18/6ea549ba042f5f29728049065bdc8a5cdb3c88a413bb026c9a
Successfully built mtranslate
Installing collected packages: mtranslate
Successfully installed mtranslate-1.8
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.4 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.2

In [ ]:
import pandas as pd
import mtranslate
from mtranslate import translate

## Loading the Data

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Sem 7 Project/corona_tested_individuals_ver_00198.csv")
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    test_date  cough  fever  ...  age_60_and_above  gender  test_indication
0  2021-11-14      0      0  ...               NaN    נקבה            Other
1  2021-11-14      0      0  ...               NaN     זכר            Other
2  2021-11-14      0      0  ...               NaN    נקבה            Other
3  2021-11-14      0      0  ...               NaN     זכר            Other
4  2021-11-14      0      0  ...               NaN    נקבה            Other

[5 rows x 10 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7810748 entries, 0 to 7810747
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   test_date            object
 1   cough                int64
 2   fever                int64
 3   sore_throat          int64
 4   shortness_of_breath  int64
 5   head_ache            int64
 6   corona_result        object
 7   age_60_and_above     object
 8   gender               object
 9   test_indication      object
dtypes: int64(5), object(5)
memory usage: 595.9+ MB

In [ ]:
data.isnull().sum()

test_date                    0
cough                        0
fever                        0
sore_throat                  0
shortness_of_breath          0
head_ache                    0
corona_result                0
age_60_and_above       1728213
gender                  591235
test_indication              0
dtype: int64

## Translating the Features from Hebrew to English

In [ ]:
def trans(x):
  return translate(x,"en","auto")

In [ ]:
# Corona Result Feature
l = list(data['corona_result'].unique())
print("Target Column Levels:")
for i in l:
  print(i,trans(i))

# Gender Feature
l = list(data['gender'].unique())
print("\nGender Levels:")
for i in l:
  if i is not l[2]:
    print(i,trans(i))

Target Column Levels:
שלילי Negative
אחר Other
חיובי Positive

Gender Levels:
נקבה female
זכר male

In [ ]:
def translate(data):
  data = data.replace(to_replace ="שלילי", value ="Negative")
  data = data.replace(to_replace ="אחר", value ="Other")
  data = data.replace(to_replace ="חיובי", value ="Positive")
  data = data.replace(to_replace ="נקבה", value ="female")
  data = data.replace(to_replace ="זכר", value ="male")
  return data 

data = translate(data)

## Checking Translated Data

In [ ]:
def show(data):
  for i in data.columns[1:]:
    print("Feature: {} with {} Levels".format(i,data[i].unique()))

show(data)

Feature: cough with [0 1] Levels
Feature: fever with [0 1] Levels
Feature: sore_throat with [0 1] Levels
Feature: shortness_of_breath with [0 1] Levels
Feature: head_ache with [0 1] Levels
Feature: corona_result with ['Negative' 'Other' 'Positive'] Levels
Feature: age_60_and_above with [nan 'Yes' 'No'] Levels
Feature: gender with ['female' 'male' nan] Levels
Feature: test_indication with ['Other' 'Contact with confirmed' 'Abroad'] Levels

## Data Preprocessing

In [ ]:
# Omitting all rows with missing values
data.dropna(inplace = True)

# Dropping all rows where corona_result = Other
data.drop(data[data['corona_result']=="Other"].index,inplace = True)

## Saving Total Data (Optional)

In [ ]:
data.to_csv("/content/drive/MyDrive/Sem 7 Project/covid_data_20-21.csv",index=False)